[submodule "submodules/vim-fugitive"]
	path = submodules/vim-fugitive
	url = https://github.com/tpope/vim-fugitive
[submodule "submodules/vim-surround"]
	path = submodules/vim-surround
	url = https://github.com/tpope/vim-surround
[submodule "submodules/vim-pathogen"]
	path = submodules/vim-pathogen
	url = https://github.com/tpope/vim-pathogen
[submodule "submodules/urxvt-perls"]
	path = submodules/urxvt-perls
	url = https://github.com/muennich/urxvt-perls.git
[submodule "submodules/solarized"]
	path = submodules/solarized
	url = https://github.com/altercation/solarized
[submodule "submodules/vim-abolish"]
	path = submodules/vim-abolish
	url = https://github.com/tpope/vim-abolish.git
[submodule "submodules/vim-repeat"]
	path = submodules/vim-repeat
	url = https://github.com/tpope/vim-repeat.git
